
:root {
    --primary-color: #0D3B66;
    --secondary-color: #FAF0CA;
    --accent-color: #F4D35E;
    --highlight-color: #EE964B;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
a {
    text-decoration: none;
}
.logo {
    text-align: right;
    padding: 0px;

}

nav ul{
    justify-content: right;
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
}

nav ul li a:hover{
    color: var(--highlight-color);
}

.video-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

/* Estilos de texto landev */

h2 {
    text-transform: uppercase;
    text-align: center;

}
h2 .title {
    margin-top: 1.3vh;
    margin-bottom: 1.3vh;

}

.servicios {
    padding: 100px;
}

.franja {
    background-color: black;
    padding: 15vh;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    color:white !important;
}
video {
    width: 100%;  
    height: 100%;
    object-fit: cover; /* Ajusta el video sin distorsión */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 30px;
    padding-left:30px;
    margin-right: 40vh;

    transform: translate(0, -50%);
    text-align: left;

}
.overlay h2 {
    color: white;
    background-color: var(--primary-color-transparent);
    padding: 6px 12px;
    border-radius: 4px;
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    line-height: 1.45;
}

.overlay button {
    display: block;
    background-color: var(--highlight-color);
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    border: none;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    animation: slide 20s linear infinite;
}

.slider img {
    max-height: 100px; /* Ajusta el tamaño de las imágenes según lo necesites */
    margin: 0 10px; /* Espaciado entre las imágenes */
    opacity: 0.8; /* Opacidad de las imágenes */
}

/* seccion servicios */
.textend {
    font-size: 1.8rem;
    padding-top: 1.8vh;


}
.frase {
    background-color: #F4D35E;
    padding: 50px 140px;
}



.frase .tab {
    justify-content: center;
    padding: 0px;
    background-color: #F4D35E;
    font-size: 50px;
    padding-top: 2.3vh;
}

.tab p {
    color: #0D3B66;
    border-radius: 0px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    
}




/* CSS CARRUSEL PROYECTOS */

.carousel-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    padding-bottom: 10vh;

  }
  
  .carousel {
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slides img {
    width: 50% !important;
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: white;
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  
  .arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  


.textend{
    color: #0D3B66;
    border-radius: 150px;
    text-align: center;
}


.ens {
    display: inline-block;
    padding: 10px 30px;
    background-color: #EE964B;
    color: #ffff;
    border-radius: 50px;
    border: none;
    text-align: center;
    text-decoration: none;
}

.ens:hover {
    background-color: var(--primary-color);
}

    

/* AQUI EMPIEZA SECCION CONTACTO Fondo de la sección de contacto */
.contact-section {
    position: relative;
    height: 100vh;
    background: url('/landev/img/contacto.jpg') no-repeat center center/cover;
}

/* Overlay para la transparencia */
.overlaycontacto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

/* Contenido atractivo a la derecha */
.content-right {
    color: #ffffff;
    max-width: 50%;
    text-align: left;
}

.content-right h2 {
    font-size: 2.5rem;
}

.content-right p {
    font-size: 1.2rem;
}

.content-right button {
    background-color: #ff7b00;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.content-right button:hover {
    background-color: #ee964b;
}

/* Formulario */
.form-container {
    text-align: center;
    color: #ffffff;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro trasparente */
    padding: 30px;
    border-radius: 10px;
}

.form-container h2 {
    font-size: 2rem;
}

.form-container p {
    font-size: 1.1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 1rem;
    color: #333;
}

button {
    background-color: #ee964b;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover {
    background-color: #ee964b;
}

.cta-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4; /* Fondo suave para la sección */
    margin-bottom: 30px;
    color: #0D3B66;
}

.cta-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-section button {
    padding: 10px 20px;
    background-color: #ee964b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}



footer {
    background-color: black ;
    color: rgb(255, 255, 255);
    padding: 40px;
    text-align: center;
    
}

.iconos {
    color: #FAF0CA;
    font-size: 25px;  /* Cambia este valor para ajustar el tamaño */
    transition: color 0.3s ease, transform 0.3s ease;  /* Transición suave para color y movimiento */
}

.iconos:hover {
transform: scale(1.1);  /* Aumenta ligeramente el tamaño del ícono */
}


/* landing nosotros*/
/* Banner */
.banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* Sección de texto sobre nosotros */
.about-text {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-text p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
}

/* Tarjetas */
.cards {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #0D3B66; /* Color de fondo que mencionaste */
}

.card {
    background-color: white;
    width: 45%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card h3 {
    font-size: 1.8rem;
    color: #333;
    margin: 20px 0;
}

.card p {
    font-size: 1rem;
    color: #666;
}

.card:hover {
    transform: translateY(-10px);
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* Responsividad nosotros */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}


  
  /* Estilos Generales */
  .body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
  }
  
  .banner-container-lande {
    position: relative;
    width: 100%;
    height: 450px; /* Puedes ajustar la altura según tus necesidades */
    overflow: hidden;
  }
  
  .banner-lande {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .slides-lande {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .slide-lande {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 0 0 100%; /* Garantizamos que cada slide ocupe el 100% del ancho del contenedor */
  }
  
  .slide-lande img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurar que las imágenes se ajusten bien */
  }
  
  .text-overlay-lande {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para el texto */
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
  }
  
  .arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: white;
  }
  
  .arrow-left {
    left: 10px;
  }
  
  .arrow-right {
    right: 10px;
  }
  
  .arrow-left:hover, .arrow-right:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  
  /* Sección de Servicios */

/* Estilo general para la sección */
.one-services {
    display: flex;  /* Usamos flexbox para alinear los elementos */
    align-items: center;  /* Centra los elementos de forma vertical */
    padding: 0px !important;
    background-color: #fff;
    margin: 0 !important;
  }  
  /* Contenedor de cada ítem de servicio */
  .one-item {
    display: flex;
    align-items: center;  /* Alineación en el eje vertical */
    background-color: #ffffff;  /* Fondo blanco para los ítems */
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom:0 !important;
  }
  
  
  /* Imagen del servicio */
  .one-image {
    max-width: 100%;
    padding:0 !important;
    margin: 0 !important;
    object-fit: cover;
  }
  .one-image img {
    max-width: 100%;  /* Asegura que la imagen se ajuste al contenedor */
    height: auto;
    object-fit: cover;  /* La imagen cubre el área del contenedor sin deformarse */
    margin-right: 0px;  /* Espacio entre la imagen y el texto */
    margin-bottom: 0 !important;
    margin-left: 0px;
  }
  
  /* Estilo del texto */
  .one-text {
    max-width: 600px;  /* Limita el ancho máximo del texto */
    align-items: left;
  }
  
  .one-text h2 {
    font-size: 24px;  /* Tamaño de la fuente del título */
    color: #EE964B;  /* Color del texto */
    margin-bottom: 15px;  /* Espacio debajo del título */
    font-weight: bold;  /* Negrita para el título */
    align-items: left;
    text-align: left; /*alinear a la derecha*/
    
  }
  
  .one-text p {
    font-size: 16px;  /* Tamaño de la fuente para el párrafo */
    color: #0D3B66;  /* Color para el texto */
    line-height: 1.6;  /* Altura de línea para mayor legibilidad */
    margin-bottom: 10px;  /* Espacio debajo del párrafo */
  }
  
  .one-text ul {
    list-style: none;  /* Elimina el estilo de lista predeterminado */
    margin-bottom: 0px;
  }
  
  /* Estilos para dispositivos pequeños (móviles y tabletas) */
  @media (max-width: 768px) {
    .one-item {
      flex-direction: column;  /* Cambia la disposición a columna en pantallas pequeñas */
      text-align: center;  /* Centra el texto */
    }
  
    .one-image img {
      width: 100%;  /* Hace que la imagen ocupe todo el ancho disponible */
      margin-bottom: 20px;  /* Espacio entre la imagen y el texto */
    }
  
    .one-text {
      max-width: 100%;  /* Elimina el límite de ancho del texto */
    }
  }
  
  
/* end one services*/


/* Estilo general para la sección */
.two-services {
    display: flex;  /* Usamos flexbox para alinear los elementos */
    align-items: center;  /* Centra los elementos de forma vertical */
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan si no caben */
    padding: 0px;
    background-color: #000000;  /* Color de fondo de la sección */
  }
  
  /* Contenedor de cada ítem de servicio */
  .two-item {
    display: flex;
    align-items: center;  /* Alineación en el eje vertical */
    background-color: #000000;  /* Fondo blanco para los ítems */
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
  }
  
  /* Estilo para el texto */
  .two-text {
    max-width: 600px;  /* Limita el ancho máximo del texto */
    margin-right: 40px;
  }
  
  .two-text h2 {
    font-size: 24px;  /* Tamaño de la fuente del título */
    color: #ff7b00;  /* Color del texto */
    margin-bottom: 15px;  /* Espacio debajo del título */
    font-weight: bold;  /* Negrita para el título */
    text-align: left;  /* Alineación a la izquierda */
  }
  
  .two-text p {
    font-size: 16px;  /* Tamaño de la fuente para el párrafo */
    color: #ffffff;  /* Color gris para el texto */
    line-height: 1.6;  /* Altura de línea para mayor legibilidad */
    margin-bottom: 10px;  /* Espacio debajo del párrafo */
  }
  
  .two-text ul {
    list-style: none;  /* Elimina el estilo de lista predeterminado */
    margin-bottom: 0px;
  }
  
  /* Imagen del servicio */
  .two-image img {
    max-width: 100%;  /* Asegura que la imagen se ajuste al contenedor */
    height: auto;
    object-fit: cover;  /* La imagen cubre el área del contenedor sin deformarse */
    width: 700px;  /* Ancho fijo para la imagen */
    margin-left:0px;  /* Espacio entre la imagen y el texto */
    margin-bottom: 0px;
    
  }
  
  /* Estilos para dispositivos pequeños (móviles y tabletas) */
  @media (max-width: 768px) {
    .two-item {
      flex-direction: column;  /* Cambia la disposición a columna en pantallas pequeñas */
      text-align: center;  /* Centra el texto */
    }
  
    .two-image img {
      width: 100%;  /* Hace que la imagen ocupe todo el ancho disponible */
      margin-bottom: 20px;  /* Espacio entre la imagen y el texto */
    }
  
    .two-text {
      max-width: 100%;  /* Elimina el límite de ancho del texto */
    }
  }
  
/* end services two*/

/* Estilo general para la sección */
.three-services {
    display: flex;  /* Usamos flexbox para alinear los elementos */
    align-items: center;  /* Centra los elementos de forma vertical */
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan si no caben */
    padding: 0px;
    background-color: #fff;
  }  
  /* Contenedor de cada ítem de servicio */
  .three-item {
    display: flex;
    align-items: center;  /* Alineación en el eje vertical */
    background-color: #ffffff;  /* Fondo blanco para los ítems */
    padding: 0px;
    margin: 0px;
    margin-bottom: 0%;
  }
  
  
  /* Imagen del servicio */
  .three-image img {
    max-width: 100%;  /* Asegura que la imagen se ajuste al contenedor */
    height: auto;
    object-fit: cover;  /* La imagen cubre el área del contenedor sin deformarse */
    margin-right: 20px;  /* Espacio entre la imagen y el texto */
    margin-bottom: 0px;
  }
  /* Estilo del texto */
  .three-text {
    max-width: 600px;  /* Limita el ancho máximo del texto */
    align-items: left;
  }
  
  .three-text h2 {
    font-size: 24px;  /* Tamaño de la fuente del título */
    color: #EE964B;  /* Color del texto */
    margin-bottom: 15px;  /* Espacio debajo del título */
    font-weight: bold;  /* Negrita para el título */
    align-items: left;
    text-align: left; /*alinear a la derecha*/
    
  }
  
  .three-text p {
    font-size: 16px;  /* Tamaño de la fuente para el párrafo */
    color: #0D3B66;  /* Color para el texto */
    line-height: 1.6;  /* Altura de línea para mayor legibilidad */
    margin-bottom: 10px;  /* Espacio debajo del párrafo */
  }
  
  .three-text ul {
    list-style: none;  /* Elimina el estilo de lista predeterminado */
    margin-bottom: 0px;
  }
  
  /* Estilos para dispositivos pequeños (móviles y tabletas) */
  @media (max-width: 768px) {
    .three-item {
      flex-direction: column;  /* Cambia la disposición a columna en pantallas pequeñas */
      text-align: center;  /* Centra el texto */
    }
  
    .three-image img {
      width: 100%;  /* Hace que la imagen ocupe todo el ancho disponible */
      margin-bottom: 20px;  /* Espacio entre la imagen y el texto */
    }
  
    .three-text {
      max-width: 100%;  /* Elimina el límite de ancho del texto */
    }
  }
  
  
/* end services three*/


/* Estilo general para la sección */
.four-services {
    display: flex;  /* Usamos flexbox para alinear los elementos */
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan si no caben */
    padding: 0px;
    background-color: #ff7b00;  /* Color de fondo de la sección */
  }
  
  /* Contenedor de cada ítem de servicio */
  .four-item {
    display: flex;
    align-items: center;  /* Alineación en el eje vertical */
    background-color: #ff7b00;  /* Fondo blanco para los ítems */
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
  }
  
  /* Estilo para el texto */
  .four-text {
    max-width: 600px;  /* Limita el ancho máximo del texto */
    margin-right: 40px;
  }
  
  .four-text h2 {
    font-size: 24px;  /* Tamaño de la fuente del título */
    color: #ffffff;  /* Color del texto */
    margin-bottom: 15px;  /* Espacio debajo del título */
    font-weight: bold;  /* Negrita para el título */
    text-align: left;  /* Alineación a la izquierda */
  }
  
  .four-text p {
    font-size: 16px;  /* Tamaño de la fuente para el párrafo */
    color: #000000;  /* Color gris para el texto */
    line-height: 1.6;  /* Altura de línea para mayor legibilidad */
    margin-bottom: 10px;  /* Espacio debajo del párrafo */
  }
  
  .four-text ul {
    list-style: none;  /* Elimina el estilo de lista predeterminado */
    margin-bottom: 0px;
  }
  
  /* Imagen del servicio */
  .four-image img {
    max-width: 100%;  /* Asegura que la imagen se ajuste al contenedor */
    height: auto;
    object-fit: cover;  /* La imagen cubre el área del contenedor sin deformarse */
    width: 700px;  /* Ancho fijo para la imagen */
    margin-left:0px;  /* Espacio entre la imagen y el texto */
    margin-bottom: 0px;
  }
  
  /* Estilos para dispositivos pequeños (móviles y tabletas) */
  @media (max-width: 768px) {
    .four-item {
      flex-direction: column;  /* Cambia la disposición a columna en pantallas pequeñas */
      text-align: center;  /* Centra el texto */
    }
  
    .four-image img {
      width: 100%;  /* Hace que la imagen ocupe todo el ancho disponible */
      margin-bottom: 20px;  /* Espacio entre la imagen y el texto */
    }
  
    .four-text {
      max-width: 100%;  /* Elimina el límite de ancho del texto */
    }
  }
  
/* end services four*/

/*end services*/


/*================================ terminos y politicas=============*/

/* Estilos base para los contenedores */
.politica-container-custom {
    width: 80%; /* Ancho del contenedor */
    padding: 50px;
    bottom: 40px;
    margin-top: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Posiciona el contenedor de manera absoluta */
    left: 50%; /* Lo mueve al 50% de la izquierda */
    transform: translateX(-50%); /* Ajusta el centrado horizontal */ 
      
}

/* Contenedor amarillo (Política de Privacidad) */
.politica-privacidad-custom {
    top: 40%; /* Posición vertical del primer contenedor */
    background-color: #F4D35E; /* Amarillo */
    color: #333;
   
}

/* Contenedor azul (Términos y Condiciones) */
.politica-terminos-custom {
    top: 80%; /* Posición vertical del segundo contenedor */
    background-color: #0D3B66; /* Azul */
    color: white;
    
}

/* Estilos para los títulos */
.politica-title-custom {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: bold;

}

/* Estilos para los párrafos */
.politica-text-custom {
    font-size: 1.1em;
    line-height: 1.6;
}

.politica-container-custom:hover {
box-shadow: 0 8px 16px rgba(0.2, 0.2, 0.2, 0.2);  /* Sombra más intensa */
transition: cubic-bezier(0.10);

}