
:root {
    --primary-color: #0D3B66;
    --secondary-color: #FAF0CA;
    --accent-color: #F4D35E;
    --highlight-color: #EE964B;
}
body {
    font-family: 'Poppins', sans-serif;
}
.logo {
    text-align: right;
}

nav ul{
    justify-content: right;
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
}

nav ul li a:hover{
    color: var(--highlight-color);
}

.video-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

video {
    width: 100%;  
    height: 100%;
    object-fit: cover; /* Ajusta el video sin distorsión */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 30px;
    margin-right: 40vh;
    transform: translate(0, -50%);
    text-align: left;
}
.overlay h2 {
    color: white;
    background-color: var(--primary-color-transparent);
    padding: 6px 12px;
    border-radius: 4px;
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    line-height: 1.45;
}

.overlay button {
    display: block;
    background-color: var(--highlight-color);
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    border: none;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    animation: slide 20s linear infinite;
}

.slider img {
    max-height: 100px; /* Ajusta el tamaño de las imágenes según lo necesites */
    margin: 0 10px; /* Espaciado entre las imágenes */
    opacity: 0.8; /* Opacidad de las imágenes */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.carousel-container {
    position: relative;
    width: 80%;
    max-width: 1200px;  /* Aumentamos el ancho para que se vean 2 imágenes a la vez */
    margin: 50px auto;
}
  
.carousel {
    overflow: hidden;
}
  
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slides img {
    width: 50%; /* Mostrar 2 imágenes a la vez */
    height: auto;
    object-fit: cover;
}
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: white;
}
  
.left-arrow {
    left: 0;
}
  
.right-arrow {
    right: 0;
}
  
.arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
}


.textend{
    color: #0D3B66;
    border-radius: 150px;
    text-align: center;
    
    

}

.ens { /* boton para explorar servicios */
    background-color: #EE964B;
    color: #ffff;
    border-radius: 50px;
    border: none;
    text-align: center;
}


/* AQUI EMPIEZA SECCION CONTACTO Fondo de la sección de contacto */
.contact-section {
    position: relative;
    height: 100vh;
    background: url('/landev/img/contacto.jpg') no-repeat center center/cover;
}

/* Overlay para la transparencia */
.overlaycontacto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

/* Contenido atractivo a la derecha */
.content-right {
    color: #ffffff;
    max-width: 50%;
    text-align: left;
}

.content-right h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.content-right p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.content-right button {
    background-color: #ff7b00;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.content-right button:hover {
    background-color: #ee964b;
}

/* Formulario */
.form-container {
    text-align: center;
    color: #ffffff;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro trasparente */
    padding: 30px;
    border-radius: 10px;
}

.form-container h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.form-container p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 1rem;
    color: #333;
}

button {
    background-color: #ee964b;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover {
    background-color: #ee964b;
}

.cta-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4; /* Fondo suave para la sección */
    margin-bottom: 30px;
    color: #0D3B66;
}

.cta-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-section button {
    padding: 10px 20px;
    background-color: #ee964b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}



footer {
    background-color: black ;
    color: rgb(255, 255, 255);
    padding: 100px;
    text-align: center;
}