
:root {
    --primary-color: #0D3B66;
    --secondary-color: #FAF0CA;
    --accent-color: #F4D35E;
    --highlight-color: #EE964B;
}
body {
    font-family: 'Poppins', sans-serif;
}
.logo {
    text-align: right;
}
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}