
:root {
    --primary-color: #0D3B66;
    --secondary-color: #FAF0CA;
    --accent-color: #F4D35E;
    --highlight-color: #EE964B;
}
body {
    font-family: 'Poppins', sans-serif;
}
.logo {
    text-align: right;
}
footer {
    background-color: black ;
    color: rgb(255, 255, 255);
    padding: 100px;
    text-align: center;
}