
:root {
    --primary-color: #0D3B66;
    --secondary-color: #FAF0CA;
    --accent-color: #F4D35E;
    --highlight-color: #EE964B;
}
body {
    font-family: 'Poppins', sans-serif;
}
.logo {
    text-align: right;
}


.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    animation: slide 20s linear infinite;
}

.slider img {
    max-height: 100px; /* Ajusta el tamaño de las imágenes según lo necesites */
    margin: 0 10px; /* Espaciado entre las imágenes */
    opacity: 0.8; /* Opacidad de las imágenes */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.carousel-container {
    position: relative;
    width: 80%;
    max-width: 1200px;  /* Aumentamos el ancho para que se vean 2 imágenes a la vez */
    margin: 50px auto;
}
  
.carousel {
    overflow: hidden;
}
  
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slides img {
    width: 50%; /* Mostrar 2 imágenes a la vez */
    height: auto;
    object-fit: cover;
}
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: white;
}
  
.left-arrow {
    left: 0;
}
  
.right-arrow {
    right: 0;
}
  
.arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
}


footer {
    background-color: black ;
    color: rgb(255, 255, 255);
    padding: 100px;
    text-align: center;
}